@media screen and (max-width:900px) {
    .logo {
        width: 10%;
    }
    .menu {
        width: 90%;
    }
}


@media screen and (max-width:768px) {
    body {
        background: url(../assets/home/background-home-tablet.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .logo {
        width: 10%;
    }
    .menu {
        width: 90%;
        background-color: transparent; 
        backdrop-filter: blur(0px); 
    }
    .menu nav {
        margin-right: 5%;
    }
    .menu nav a {
        margin: 10px;
        font-size: 0.9em;
    }
    .menu nav a #num {
        display: none;
    }
    .top-menu .line {
        display: none;
    }
    .part-one {
        width: 90%;
        flex-direction: column;
    }
    .space,
    .explore {
        width: 100%;
    }
    .space .content {
        text-align: center;
    }
    .space .content .seg-one {
        font-size: 1em;
    }
    .space .content .seg-three {
        padding: 0px 20px 0px 20px;
        font-size: 0.8em;
    }
    .space .content .seg-two {
        font-size: 2.8em;
    }
    .explore .outer {
        width: 180px;
        height: 180px;
    }
    .explore .outer .inner {
        width: 100px;
        height: 100px;
    }
    .explore .outer .inner span {
        font-size: 1em;
        letter-spacing: 1px;
    }

    /* Part Two - Destination */
    /* -------------------------------------------------------------------------------- */

    .destination-page {
        background: url(../assets/destination/background-destination-desktop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .part-two {
        gap: 10px;
    }
    .part-content {
        height: 100%;
        flex-direction: column;
    }
    .part-name h2 {
        font-size: 1em;
        letter-spacing: 1px;
    }
    .planet img {
        width: 70%;
    }
    .planet, .planet-desc {
        width: 100%;
        height: 100%;
    }
    .planet-menus {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .planet-menus nav a {
        margin: 15px;
        font-size: 1em;
    }
    .planet-name {
        justify-content: center;
    }
    .planet-name h1 {
        font-size: 5em;
    }
    .planet-details {
        text-align: center;
        line-height: 1.2;
        padding: 0px 20px 0px 20px;
    }
    .planet-details p {
        letter-spacing: 1px;
        font-size: 1em;
    }
    .planet-distance .distance, 
    .planet-distance .days {
        text-align: center;
    } 

    /* Part Three - Crew */
    /* -------------------------------------------------------------------------------- */

    .crew-page {
        background: url(../assets/crew/background-crew-tablet.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .part-three {
        width: 90%;
        margin-top: 8%;
    }
    .wrapper {
        width: 100%;
        flex-direction: column;
    }
    .crew h2 {
        font-size: 1.1em;
    }
    .crew-details,
    .crew-member {
        width: 100%;
    }
    .crew-details {border:none;}
    .crew-member {
        border-bottom: 1px solid rgb(79, 77, 77);
        display: flex;
        justify-content: center;
    }
    .crew { text-align: left;}
    .role,.name,.bio,.dots {
        text-align: center;
        justify-content: center;
    }
    .bio {
        padding: 0px 20px 0px 20px;
    }
    .role {
        margin-top: 0%;
    }
    .role h2 {
        font-size: 1.2em;
    }
    .name h1 {
        font-size: 2em;
    }
    .dots {
        margin-top: 0%;
    }
    .dots .dot {
        width: 10px;
        height: 10px;
    }
}