@media screen and (max-width:500px) {
    .container {
        width: 330px;
    }
    .top-elem .theme {
        width: 40%;
    }
    .pipe .one {left: 10px;}
    .pipe .two {left: 25px;}
    .pipe .three {left: 38px; }
}