@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}
html,body,main {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
    background-color: white;
}
main {
    width: 100%;
}
.partOne {
    width: 100%;
    display: flex;
    position: relative;
}
.partTwo {
    width: 100%;
    display: flex;
}
.partOne .imgSection {
    width: 60%;
    position: relative;
    background-color: lightcyan;
}
.imgSection img {
    width: 100%;
    height: 100%;
}
.partOne .aboutSection {
    width: 40%;
    position: relative;
    display: flex;
}
.partTwo .box {
    width: 30%;
}
img {
    user-select: none;
}
.partTwo .box img {
    width: 100%;
    height: 100%;
}
.partTwo .box:nth-child(2){
    width: 40%;
    display: grid;
}
.aboutSection .innerContent {
    width: 80%;
    margin: auto;
}
.innerContent .title h1 {
    font-size: 2.8em;
    font-weight: 500;
}
.innerContent .property p {
    font-size: 0.9em;
    color: hsl(0, 0%, 63%);
    line-height: 1.3;
}
.innerContent .shopNow {
    display: flex;
    align-items: center;
    gap: 30px;
}
.innerContent .shopNow p {
    letter-spacing: 7px;
    font-weight: 600;
}
.innerContent .shopNow p:hover,
.innerContent .shopNow img:hover {
    cursor: pointer;
    color: hsl(0, 0%, 27%);
}
.shopNow .move {
    margin-left: 20px;
    transition: 0.3s ease;
}
.shopNow .reverse {
    margin-left: -20px;
    transition: 0.7s ease;
}
.box:nth-child(2) .innerDetail{
    width: 90%;
    margin: auto;
}
.innerDetail .aboutFurniture h4 {
    letter-spacing: 6px;
}
.innerDetail .details p {
    color: hsl(0, 0%, 63%);
    font-size: 0.9em;
    line-height: 1.2;
}
.toggle {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toggle span {
    width: 60px;
    display: grid;
    padding: 12px;
    background-color: black;
}
.toggle span img {
    margin: auto;
    user-select: none;
}
.toggle span:hover {
    cursor: pointer;
    background-color: hsl(0, 0%, 27%);
}
.imgSection .menuBar {
    position: absolute;
    top: 10%;
    width: 100%;
    display: flex;
}
.menuBar .icon {
    flex-grow: 2;
    display: grid;
    padding: 5px;
}
.menuBar .icon img {
    margin: auto;
    width: 80px;
}
.menuBar .menus {
    flex-grow: 5;
    display: flex;
    align-items: center;
}
.menus nav a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
}
.menus nav a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}
.partOne .mobile {
    display: none;
}
.mobileMenu {
    display: none;
}
.mobMenuDrop {
    display: none;
}
.imgSection .imgDesktop {
    display: block;
}
.imgSection .imgMobile {
    display: none;
}