@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}
html,body,main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Red Hat Text', sans-serif;
    background-color: hsl(234, 17%, 12%);
    background-image:  url(./images/bg-stars.svg), url(./images/pattern-hills.svg);
    background-repeat: no-repeat,no-repeat;
    background-position: center,bottom;
}
main {
    display: grid;
}
.container {
    width: 60%;
    height: 85%;
    margin: auto;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
}
.launch {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
}
.count {
    width: 100%;
    flex-grow: 7;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid blueviolet;
}
.social {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid yellow;
}
.launch h1{ 
    letter-spacing: 2.5px;
}
.social nav a{
    margin: 15px;
}
.count .flip {
    width: 30%;
    height: 270px;
    color: black;
    position: relative;
    background-color: white;
}
.flip-one {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: lightcyan;
}
.flip-one .inner-top {
    width: 100%;
    height: 50%;
    display: grid;
    background-color: lightcoral;
}
.flip-one .inner-bottom {
    width: 100%;
    height: 50%;
    display: grid;
    background-color: lightgreen;
}
.flip-one .inner-top p,
.flip-one .inner-bottom p {
    margin: auto;
}


.flip-two {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: lightgoldenrodyellow;
}
.flip-two .inner-top {
    width: 100%;
    height: 50%;
    display: grid;
    background-color: lightpink;
}
.flip-two .inner-bottom {
    width: 100%;
    height: 50%;
    display: grid;
    background-color: lightseagreen;
}
.flip-two .inner-top p,
.flip-two .inner-bottom p {
    margin: auto;
}
.flip-one { 
    z-index: 3;
}
.flip-two {
    z-index: 2;
}