@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}
html,body,main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    overflow-x: hidden;
    font-family: 'Red Hat Text', sans-serif;
    background-color: hsl(234, 17%, 12%);
    background-image:  url(./images/bg-stars.svg), url(./images/pattern-hills.svg);
    background-repeat: no-repeat,no-repeat;
    background-position: center,bottom;
}
main {
    display: grid;
}
.container {
    width:600px;
    height: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.launch {
    width: 100%;
    flex-grow: 1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.social {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.launch h1{ 
    letter-spacing: 2.5px;
}
.social nav a{
    margin: 15px;
}
.social nav a:hover {
    cursor: pointer;
}
.timer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.flipbox {
    width: 130px;
    height: 170px;
    display: flex;
    padding: 5px;
    flex-direction: column;
    background-color: transparent;
    perspective:1000px;
}
.flipbox-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: 1s ease-in-out;
    transform-style: preserve-3d;
    
}
.flipbox-front, .flipbox-back {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    display: grid;
    border-radius: 5px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flipbox-front {
    background-color: hsl(236, 21%, 26%);
    color: black;
}
.flipbox-back {
    background-color: hsl(236, 21%, 26%);
    transform: rotateX(180deg);
    color: black;
}
.flipbox.active .flipbox-inner{
    transform: rotateX(180deg);
}
.flipbox-back h3, .flipbox-front h3{
    margin: auto;
    font-size: 5em;
    color: hsl(345, 95%, 68%);
}
.flipbox p {
    align-self: center;
    color: hsl(237, 18%, 59%);
    font-weight: 100;
    font-size: 0.8em;
}